h1 {
    text-shadow: 2px 2px 5px red;
}

#game {
    width: max-content;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content;
    grid-column-gap: 25px;
}

.col {
    align-self: center;
    height: min-content;
    text-align: center;
    vertical-align: middle;
}