h1 {
    text-shadow: 2px 2px 5px red;
}

#game {
    width: max-content;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content;
    align-items: center;
    grid-column-gap: 25px;
}

footer {
    background-color: lightgray;
    color: gray;
    text-align: center;
}
